

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
}

.box1{
    height: 150px;

}

.box3 {
    height: 200px;
}

.box2{
    height: 100px;
}
.box4{
    height: 400px;
}
